@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");

body {
  min-height: 100vh;
  font-family: "Antic Didone", serif;
  background-color: #fff;
  cursor: pointer;
}

form {
  width: 50%;
}

form input {
  border: solid 1px rgba(0, 0, 0, 0.073) !important;
  background: none !important;
  outline: none !important;
  padding: 10px !important;
}

form button {
  border: none !important;
  color: #000 !important;
}

form .icon {
  margin-top: -15px !important;
}

input::placeholder {
  color: #000 !important;
  font-size: 1.5rem !important;
  text-align: center !important;
}

.card {
  border-radius: 0 !important;
  border: none !important;
}

.card:hover {
  box-shadow: none !important;
}

.card h4 {
  font-weight: 600;
}

.state-row {
  width: 80%;
  margin: 0 auto;
  margin: 50px auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.we-data {
  font-weight: 600;
  background: #e8f0fe;
}

@media only screen and (max-width: 576px) {
  form {
    width: 80%;
  }

  .card {
    margin-bottom: 15px;
  }

  .state-row {
    width: 90%;
    margin: 30px auto;
  }
}
